.header {
  height: 400px;
  width: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF7F50;
  background-image: url("/images/asfalt-light.png");
}

.header img {
  width: 200px;
  height: 200px;
}

.header h2 {
  color: #FFFFFF;
  font-size: larger;
}
