.new-tweet {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.new-tweet h2 {
  margin-top: 25px;
  font-weight: 600;
  color: #545149;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.tweetFooter {
  font-family: 'Bungee', cursive;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tweetFooter button {
  color: #FFFFFF;
  background-color: #4056A1;
}

::placeholder {
  font-size: 25px;
  font-weight: 600;
}

textarea {
  width: 100%;
  height: auto;
  outline: none;
  overflow: hidden;
  resize: none;
  background-color: #f4f1ec;
  margin-top: 20px;
  border: 0;
  border-bottom: 3px solid #545149;
}

.error{
  border: 1px solid;
  padding: 15px 10px 15px 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
}